#tablaProductos{
  position: relative;
  right: 0;
  left: 0;
}
table{
    text-align: center;
    font-size: 45px;
    border-collapse: collapse;
    width: 75%;
}
table, th, td {
    border: 1px solid black;
    font-size: 20px;
}
